<div class="container-fluid">
    <div class="row">
        <div class="col-3 mt-5">
        <div class="list-group text-center">
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/user']">
                Users Data
            </a>
            <a class="list-group-item list-group-item-action  h5" [routerLink]="['/import-data']">
                Import Data
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/company-list']">
                Manage Company
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/stock-list']">
                Manage Exchange
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/ipo-table']">
                Manage IPO Details
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/home']">
                Log Out
            </a>
        </div>
        </div>
        <!-- <div class="col-1"></div> -->
        <div class="col-8 mt-5 p-5 shadow bg-white rounded">
            <div class="text-center">
            <h3 class="v">Stock Exchange</h3>
        </div>
            <form [formGroup]="stockExchange" (ngSubmit)="stockExchanges()">
                <div class="form-group">
                    <label for="exchangName" class="h5">Stock Exchange Name: </label>
                    <input type="text" class="form-control" placeholder="Name of Stock Exchange"
                        formControlName="name">
                </div>
                <div class="form-group">
                    <label for="brief" class="h5">Brief:</label>
                    <textarea class="form-control" placeholder="Brief About Stock Exchange" rows="3"
                        formControlName="brief"></textarea>
                </div>
                <div class="form-group">
                    <label for="contactAddress" class="h5">Contact Address:</label>
                    <input type="text" class="form-control"
                        placeholder="Contact Address of Stock Exchange" formControlName="address">
                </div>
                <div class="form-group">
                    <label for="remarks" class="h5">Remarks:</label>
                    <textarea class="form-control mb-4" placeholder="Remarks About Stock Exchange"
                        rows="3" formControlName="remarks"></textarea>
                </div>
                <button class="btn admin text-white text-center" (click)="addStocks()"
                    [disabled]="!stockExchange.valid">Add Stock Exchange</button>
                <button class="btn admin text-white float-right" (click)="back()">Back</button>
            </form>
        </div>
    </div>
