<div> <h1 class="text-center text-primary mt-5"> Welcome Admin </h1></div>
<div class="row">
    <div class="container w-25 col-3 mt-5">
       <div class="list-group text-center">
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/user']">
                <h3>Users Data</h3>
            </a>
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/import-data']">
                <h3>Import Data</h3>
            </a>
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/company']">
                <h3>Add New Company</h3>
            </a>
            <a href="#" class="list-group-item list-group-item-action text-primary">
                <h3>Manage Exchange</h3>
            </a>
            <a href="#" class="list-group-item list-group-item-action text-primary">
                <h3>Update IPO Details</h3>
            </a>
            <a href="#" class="list-group-item list-group-item-action text-primary" [routerLink]="['/home']">
                <h3>Log Out</h3>
            </a>
        </div>
    </div>
</div>
 