<div class="container-fluid row">
    <!-- <div class="col-1"></div>
    <div class="w-25 col-3 mt-5">
       <div class="list-group text-center">
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/user']">
                <h3>Users Data</h3>
            </a>
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/import-data']">
                <h3>Import Data</h3>
            </a>
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/company-list']">
                <h3>Manage Company</h3>
            </a>
            <a href="#" class="list-group-item list-group-item-action text-primary" [routerLink]="['/manage-exchange']">
                <h3>Manage Exchange</h3>
            </a>
            <a href="#" class="list-group-item list-group-item-action text-primary"[routerLink]="['/ipo-details']">
                <h3>Add IPO Details</h3>
            </a>
            <a href="#" class="list-group-item list-group-item-action text-primary" [routerLink]="['/home']">
                <h3>Log Out</h3>
            </a>
        </div>
    </div> -->
    <div class="container-fluid row no-gutters">
        <div class="col-lg-2 col-md-2 col-sm-1 bg-white text-center">
            <ul class="nav flex-column ">
                <li class="nav-item">
                    <a class="nav-link text-primary h5 active" [routerLink]="['/user']">Users Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary h5" [routerLink]="['/import-data']">Import Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary h5" [routerLink]="['/company-list']">Manage Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary h5" [routerLink]="['/manage-exchange']">Manage Exchange</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary h5" [routerLink]="['/ipo-details']">Add IPO Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary h5" [routerLink]="['/home']">Log Out</a>
                </li>
            </ul>
        </div>
        <div class="col-2"></div>
        <div class="col-7">
            <h1 class="text-center text-primary mt-2"> Welcome Admin </h1>
            <img id="admin" src="../assets/images1/admin1.png" height="500">
        </div>
    </div>
</div>