<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-md-3 mt-5">
      <div class="list-group text-center">
        <a class="list-group-item list-group-item-action h5" [routerLink]="['/user']">
           Users Data
        </a>
        <a class="list-group-item list-group-item-action  h5" [routerLink]="['/import-data']">
            Import Data
        </a>
        <a class="list-group-item list-group-item-action h5" [routerLink]="['/company-list']">
            Manage Company
        </a>
        <a class="list-group-item list-group-item-action h5" [routerLink]="['/stock-list']">
           Manage Exchange
        </a>
        <a class="list-group-item list-group-item-action h5"[routerLink]="['/ipo-table']">
           Manage IPO Details
        </a>
        <a class="list-group-item list-group-item-action h5" [routerLink]="['/home']">
            Log Out
        </a>
    </div>
    </div>
    <div class="col-1"></div>
    <div class="col-lg-7 col-md-5 col-sm-4 mt-4 p-5 mb-5 shadow bg-white rounded">

      <h3 class="text-center v">Sign Up</h3>

      <form [formGroup]="updateUser" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col">
            <label for="id" class="h5">ID Number : </label>
            <input type="number" class="form-control" formControlName="id" placeholder="Id Number">
          </div>
          <div class="form-group col">
            <label for="Full Name" class="h5">Full Name : </label>
            <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name">
          </div>
        </div>
        <div class="form-group">
          <label for="Email" class="h5">Email : </label>
          <input type="email" id="email" class="form-control" formControlName="email"
            placeholder="Email">
        </div>
        <div class="form-group">
          <label for="Phone" class="h5">Phone Number : </label>
          <input type="number" id="phone" class="form-control" formControlName="phoneNumber"
            placeholder="Phone Number">
        </div>
        <div class="form-group">
          <label for="User Name" class="h5">User Name : </label>
          <input type="text" class="form-control" id="user_name" formControlName="userName"
            placeholder="User Name">
        </div>
        <div class="form-group">
          <label for="password" class="h5">Password : </label>
          <input type="password" id="pass" class="form-control" formControlName="password"
            placeholder="Password">
        </div>

        <button class="btn admin" type="submit" (click)="updateTheUser()" [disabled]="!updateUser.valid">Update
          User</button>
          <button class="btn admin float-right" type="submit" (click)="back()" >Back</button>
      </form>
    </div>
  </div>
</div>