<div class="container-fluid">
    <div class="row">
       
        <div class="col-3"></div>
        <div class="col-lg-6 col-md-6 col-sm-3 mb-5 mt-5 p-5 shadow bg-white rounded">
            <div class="text-center v mb-3">Profile
                <div class="float-right">
                    <button class="btn btn-success" (click)="updateUser(user)"><i class="fa fa-pencil"></i></button>
                </div>
            </div>
           
           <div class="h5">Id:{{user.id}}</div>
           <div class="h5">Full Name:{{user.fullName}}</div>
           <div class="h5">User Name:{{user.userName}}</div>
           <div class="h5">Email Id:{{user.email}}</div>
           <div class="h5">Phone Number:{{user.phoneNumber}}</div>
        </div>
    </div>
</div>