<div class="container-fluid">
    <div class="row">
    <div class="col-lg-3 col-sm-3 col-md-3 mt-5">
    <div class="list-group text-center">
        <a class="list-group-item list-group-item-action h5" [routerLink]="['/user']">
            Users Data
        </a>
        <a class="list-group-item list-group-item-action  h5" [routerLink]="['/import-data']">
            Import Data
        </a>
        <a class="list-group-item list-group-item-action h5" [routerLink]="['/company-list']">
            Manage Company
        </a>
        <a class="list-group-item list-group-item-action h5" [routerLink]="['/stock-list']">
            Manage Exchange
        </a>
        <a class="list-group-item list-group-item-action h5" [routerLink]="['/ipo-table']">
            Manage IPO Details
        </a>
        <a class="list-group-item list-group-item-action h5" [routerLink]="['/home']">
            Log Out
        </a>
    </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-3 mb-5">
    <div class="table-responsive">
        <table class="table table-striped w-35 mt-5">
            <thead>
                <tr>
                    <th class="h5">ID</th>
                    <th class="h5">Company Name</th>
                    <th class="h5">Stock Exchange</th>
                    <th class="h5">Price Per Share</th>
                    <th class="h5">Number of Shares</th>
                    <th class="h5">Open Date</th>
                    <th class="h5">Remarks</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ipo of ipodetails" class="s">
                    <td>{{ipo.id}}</td>
                    <td>{{ipo.name}}</td>
                    <td>{{ipo.stckExchange}}</td>
                    <td>{{ipo.pricePerShare}}</td>
                    <td>{{ipo.noOfShares}}</td>
                    <td>{{ipo.dateTime}}</td>
                    <td>{{ipo.remarks}}</td>
                    <td><button class="btn btn-danger" (click)="deleteIpo(ipo)"> Delete</button></td>
                    <td><button class="btn btn-success" (click)="updateIpo(ipo)"> Update</button></td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="text-center">
            <button class="btn admin" [routerLink]="['/ipo-details']">Add IPO</button><br>
            <br>
            <button class="btn admin" [routerLink]="['/main']">Back</button>
        </div>
    </div>
</div>
</div>