<div class="p-4">
  <div class="container">
    <div class="col mt-4 p-5 mb-5 shadow bg-white rounded">
          
            <h3 class="v text-center">Contact Us</h3>
            <p class="text-center responsive h5 mx-auto mb-3">You can email us or call us and we will get back to you as soon as possible. </p>
      <!--Grid column-->
      <!--Grid column-->
      <br>
      <div class="container">
        <div class="row">
            <div class="card-deck pt-5 mx-auto">
                <div class="col pb-3">
                        <div class="card " style="width: 15rem;">
                            <div class="card-header">
                                <img src="../../assets/images1/phn.png" width="200px">
                            </div>
                            <div class="card-body">
                                <h4 class="text-center text-dark">9874987439</h4>
                            </div>
                        </div>
                   
                </div>
                <div class="col pb-3">
                        <div class="card" style="width: 20rem;">
                            <div class="card-header">
                                <img src="../../assets/images1/mail.png" width="200px">
                            </div>
                            <div class="card-body">
                                <h4 class="text-center text-dark">StockMarket@gmail.com</h4>
                            </div>
                        </div>
                   
                </div>
                <div class="col pb-3">
                        <div class="card" style="width: 15rem;">
                            <div class="card-header">
                                <img src="../../assets/images1/loc.png" width="200px">
                            </div>
                            <div class="card-body">
                                <h4 class="text-center text-dark">Chennai</h4>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
      <!-- <div class="text-center h5">
          <div class="row">
              <div class="col">
                <div class="card" style="width:150px; height:50px">
                    <img class="card-img-top" src="../../assets/images1/phn.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <p>9874987439</p>
                    </div>
                  </div>
                   <img class="card-img-top" src="../../assets/images1/phn.png" width="75" height="75" />
                  <p>9874987439</p> -->
              <!-- </div>
              <div class="col">
                  <img src="../../assets/images1/mail.png" width="75" height="75" />
                  <p>StockMarket@gmail.com </p>
              </div>
              <div class="col">
                  <img src="../../assets/images1/loc.png" width="75" height="75" />
                  <p> Chennai</p>
              </div>
          </div>
        </div> -->
      </div>
  </div>
</div>
