input[type=text],[type=number],[type=email],textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom-color: steelblue;
  }
  
  input:focus{
    outline: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom-color:#0c2e8a;
  }
  
  .form-control{
    box-shadow: none;
  }