<!-- body -->
<main class="main">
    <div class="container">
      <div class="text-center ">
        <h1 class="display-2 ">Welcome</h1>
      </div>
      <br>
      <div class="row ">
        <div class="col-4">
        </div>
        <div class="w-25 float-right border p-3 col-4 bg-light shadow">
          <a class="btn btn-info btn-lg btn-block my-5 " [routerLink]="['/login']">ADMIN</a>
          <button class="btn btn-primary btn-lg btn-block my-5">USER</button>
        </div>
      </div>
    </div>
  </main>
  
  <!-- body -->
