/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
main{
    height: 120vh;
    /* background:url("./assets/images1/background1.png") no-repeat; */
}
body {
    background-image: url("./assets/images1/b13.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
  }
  .footer-copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: whitesmoke;
   color:black;
   text-align: center;
  }
  .navbar{
      background-color: whitesmoke;
  }
.nav-link{
    color: #0c2e8a !important;
    font-size:medium;
    font-weight: 700;
}
.nav-link:hover{
    color:lightcoral !important;
}
.v{
    font-family:"Montserrat",sans-serif;
    font-weight: 400px;
    font-size: 50px;
    color: #0c2e8a;
}
.h5{
    color: #0c2e8a !important;
}

.admin{
    background-color: #0c2e8a;
    color: whitesmoke;
}
.admin:hover{
    color:lightcoral;
    transform:scale(1.1)
}
.list-group-item:hover{
   color: lightcoral !important;
}
.s:hover{
    color:lightcoral;
}
.m{
    font-family:"Montserrat",sans-serif;
    font-weight: 400px;
    font-size: 60px;
    color: #0c2e8a;
}
input[type=text],[type=number],[type=email],[type=password],[type=textarea],[type=date],textarea[type=text]{
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom-color: steelblue;
  }
  
  input:focus{
    outline: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom-color:#0c2e8a;
  }
  
  .form-control{
    box-shadow: none;
  }
