<div> <h1 class="text-center text-primary mt-5"> Welcome User </h1></div>
<div class="row">
    <div class="container w-25 col-3 mt-5">
       <div class="list-group text-center">
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/company-list']">
                <h3>Company List</h3>
            </a>
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/']">
                <h3>IPO List</h3>
            </a>
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/compare-company']">
                <h3>Compare Company</h3>
            </a>
            <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/home']">
                <h3>Log Out</h3>
            </a>
        </div>
    </div>
   
</div>
 