<div class="container-fluid">
    <div class="row">
    <div class="col-lg-3 col-sm-3 col-md-3 mt-5">
        <div class="list-group text-center">
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/user']">
               Users Data
            </a>
            <a class="list-group-item list-group-item-action  h5" [routerLink]="['/import-data']">
                Import Data
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/company-list']">
                Manage Company
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/stock-list']">
               Manage Exchange
            </a>
            <a class="list-group-item list-group-item-action h5"[routerLink]="['/ipo-table']">
               Manage IPO Details
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/home']">
                Log Out
            </a>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-3 mb-5">
        <div class="table-responsive">
        <table class="table table-striped w-35 mt-5">
            <thead>
                <tr>
                    <th class="h5">ID</th>
                    <th class="h5">Stock Exchange Name</th>
                    <th class="h5">Brief</th>
                    <th class="h5">Contact Address</th>
                    <th class="h5">Remarks</th>
                    <th class="h5"></th>
                    <th class="h5"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stock of stocks" class="s">
                    <td>{{stock.id}}</td>
                    <td>{{stock.name}}</td>
                    <td>{{stock.brief}}</td>
                    <td>{{stock.address}}</td>
                    <td>{{stock.remarks}}</td>
                    <td><button class="btn btn-success" (click)="updateStock(stock)"><i class="fa fa-pencil"></i></button></td>
                    <td><button class="btn btn-danger" (click)="deleteStock(stock)"><i class="fa fa-trash"></i></button></td>
                  
                </tr>
            </tbody>
        </table>
    </div>
        <div class="text-center">
            <button class="btn admin" [routerLink]="['/manage-exchange']">Add Stock Exchange</button><br>
            <br>
            <button class="btn admin" [routerLink]="['/main']">Back</button>
        </div>
    </div>
</div>
</div>