<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3 mt-5">
            <div class="list-group text-center">
                <a class="list-group-item list-group-item-action h5" [routerLink]="['/user']">
                   Users Data
                </a>
                <a class="list-group-item list-group-item-action  h5" [routerLink]="['/import-data']">
                    Import Data
                </a>
                <a class="list-group-item list-group-item-action h5" [routerLink]="['/company-list']">
                    Manage Company
                </a>
                <a class="list-group-item list-group-item-action h5" [routerLink]="['/stock-list']">
                   Manage Exchange
                </a>
                <a class="list-group-item list-group-item-action h5"[routerLink]="['/ipo-table']">
                   Manage IPO Details
                </a>
                <a class="list-group-item list-group-item-action h5" [routerLink]="['/home']">
                    Log Out
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-3 mb-5 ">
            <h3 class="v text-center">List Of Companies</h3>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th class="h5">ID Number</th>
                    <th class="h5">Company Name</th>
                    <th class="h5">CEO Name</th>
                    <th class="h5">Board Members</th>
                    <th class="h5">Listed In Stock Exchanges</th>
                    <th class="h5">Sector</th>
                    <th class="h5">TurnOver</th>
                    <th class="h5">Brief Description</th>
                    <th class="h5">Sector Code</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="h6">
                <tr *ngFor="let company of company" class="s">
                    <td>{{company.id}}</td>
                    <td>{{company.companyName}}</td>
                    <td>{{company.ceoName}}</td>
                    <td>{{company.boardMember}}</td>
                    <td>{{company.listed_in_stock_exchanges}}</td>
                    <td>{{company.sector}}</td>
                    <td>{{company.turnOver}}</td>
                    <td>{{company.briefDescription}}</td>
                    <td>{{company.stock_code}}</td>
                    <td><button class="btn btn-success" (click)="updateCompany(company)"><i class="fa fa-pencil"></i></button></td>
                    <td><button class="btn btn-danger" (click)="deleteCompany(company)"><i class="fa fa-trash"></i></button></td>
                  
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn admin" [routerLink]="['/company']">Add Company</button><br>
            <br>
            <button class="btn admin" [routerLink]="['/main']">Back</button>
        </div>
        </div>
    </div>
</div>


