<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3 mt-5">
            <div class="list-group text-center">
                <a class="list-group-item list-group-item-action h5" [routerLink]="['/user']">
                   Users Data
                </a>
                <a class="list-group-item list-group-item-action  h5" [routerLink]="['/import-data']">
                    Import Data
                </a>
                <a class="list-group-item list-group-item-action h5" [routerLink]="['/company-list']">
                    Manage Company
                </a>
                <a class="list-group-item list-group-item-action h5" [routerLink]="['/stock-list']">
                   Manage Exchange
                </a>
                <a class="list-group-item list-group-item-action h5"[routerLink]="['/ipo-table']">
                   Manage IPO Details
                </a>
                <a class="list-group-item list-group-item-action h5" [routerLink]="['/home']">
                    Log Out
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-3 mb-5">
            <div class="table-responsive">
            <table class="table table-responsive w-35 mb-5 mt-5">
                <thead>
                    <tr>
                        <th class="h5">ID</th>
                        <th class="h5">Full Name</th>
                        <th class="h5">User Name</th>
                        <th class="h5">Email</th>
                        <th class="h5">Phone Number</th>
                       
                        <!-- <th class="h5">Password</th> -->
                        <th class="h5"></th>
                        <th class="h5"></th>
                    </tr>
                </thead>
                <tbody class="b h6">
                    <tr *ngFor="let user of users" class="s">
                        <td >{{user.id}}</td>    
                        <td>{{user.fullName}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phoneNumber}}</td>
                     
                        <!-- <td>{{user.password}}</td> -->
                        <td><button class="btn btn-success" (click)="updateUser(user)"><i class="fa fa-pencil"></i></button></td>
                        <td><button class="btn btn-danger" (click)="deleteUser(user)"><i class="fa fa-trash"></i></button></td>
   
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>