<div class="container-fluid">
    <div class="row">
        <div class="col-3 mt-5">
            <div class="list-group text-center">
                <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/user']">
                    <h5>Users Data</h5>
                </a>
                <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/import-data']">
                    <h5>Import Data</h5>
                </a>
                <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/company-list']">
                    <h5>Add New Company</h5>
                </a>
                <a class="list-group-item list-group-item-action text-primary" [routerLink]="['/manage-exchange']">
                    <h5>Manage Exchange</h5>
                </a>
                <a href="#" class="list-group-item list-group-item-action text-primary" [routerLink]="['/ipo-table']">
                    <h5>Add IPO Details</h5>
                </a>
                <a href="#" class="list-group-item list-group-item-action text-primary" [routerLink]="['/home']">
                    <h5>Log Out</h5>
                </a>
            </div>
        </div>
        <div class="col-9">
            <table class="table table-striped table-responsive w-35 mt-5">
                <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>User Name</th>
                        <th>Password</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.password}}</td>
                        <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button></td>
                        <td><button class="btn btn-success" (click)="updateUser(user)"> Update</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>