<div class="container-fluid">
    <div class="row">
     <!-- <div class="col-lg-3 col-sm-3 col-md-3 mt-5">
        <div class="list-group text-center">
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/user-companylist']">Company List
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/user-ipolist']">IPO List
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/compare-company']">Compare Company
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/compare-sector']">Compare Sector
            </a>
            <a class="list-group-item list-group-item-action h5" [routerLink]="['/home']">Log Out
            </a>
        </div>
    </div> -->
    <!-- <div class="col-1"></div> -->
    <div class="col mb-5">
        <div class="float-right mt-3">
            <button class="btn admin" (click)="search()"><i class="fa fa-search"></i> Search Company</button>
        </div>
        <div>
        <h3 class="v text-center">List Of Companies</h3>
        
    </div>
        <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="h5">ID Number</th>
                    <th class="h5">Company Name</th>
                    <th class="h5">CEO Name</th>
                    <th class="h5">Board Members</th>
                    <th class="h5">Listed In Stock Exchanges</th>
                    <th class="h5">Sector</th>
                    <th class="h5">TurnOver</th>
                    <th class="h5">Brief Description</th>
                    <th class="h5">Company Code</th>
                </tr>
            </thead>
            <tbody class="h6">
                <tr *ngFor="let company of company" class="s">
                    <td>{{company.id}}</td>
                    <td>{{company.companyName}}</td>
                    <td>{{company.ceoName}}</td>
                    <td>{{company.boardMember}}</td>
                    <td>{{company.listed_in_stock_exchanges}}</td>
                    <td>{{company.sector}}</td>
                    <td>{{company.turnOver}}</td>
                    <td>{{company.briefDescription}}</td>
                    <td>{{company.code}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</div>