<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-1"></div>
        <div class="col-lg-7 col-md-7 col-sm-4 mt-4 p-5 mb-5 shadow bg-white rounded">
    <div class="text-lead text-center">
        <h3 class="v">Login</h3>
    </div>
    <form [formGroup]="loginForm">
        <div class="form-group">
            <label for="Full Name" class="h5"><i class="fa fa-user"></i> User Name : </label>
            <input type="text" class="form-control" formControlName="userName" placeholder=" Enter User Name"
                required>
        </div>
        <div class="form-group">
            <label for="password" class="h5"><i class="fa fa-unlock-alt"></i> Password : </label>
            <input type="password" class="form-control" formControlName="password"
                placeholder="Enter Password" required>
        </div>
        <!-- <div class="form-group form-check">
            <label class="form-check-label h5"><input class="form-check-input" type="checkbox"
                        name="remember"> Remember me</label>
        </div> -->
        <button type="submit" class="btn btn-lg admin" [disabled]="!loginForm.valid" (click)="login()"><i class="fa fa-sign-in"></i> Login</button>
    </form>
</div>
</div>
</div>
