<div style="width: 500px;  margin-top: 5px; margin-left: auto; margin-right:auto">

    <h1 class="text-primary text-center text-white">Create New Company</h1>

    <form action="" [formGroup]="companyForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id" class="text-primary">Id: </label>
            <input type="number" id="id" class="form-control border-primary" formControlName="idNumber"
                placeholder="ID Number">
        </div>
        <div class="form-group">
            <label for="companyName" class="text-primary">Company Name : </label>
            <input type="text" id="company_name" class="form-control border-primary" formControlName="companyName"
                placeholder="Company Name">
        </div>
        <div class="form-group">
            <label for="ceoName" class="text-primary">CEO Name : </label>
            <input type="text" id="ceo_name" class="form-control border-primary" formControlName="ceoName"
                placeholder="CEO Name">
        </div>
        <div class="form-group">
            <label for="board_mem" class="text-primary">Board Members : </label>
            <input type="text" id="board_mem" class="form-control border-primary" formControlName="boardMember"
                placeholder="Board Members">
        </div>
        <div class="form-group">
            <label for="turnOver" class="text-primary">TurnOver: </label>
            <input type="number" id="turnOver" class="form-control border-primary" formControlName="turnOver"
                placeholder="Turn Over">
        </div>
        <div class="form-group">
            <label for="description" class="text-primary">Brief Description : </label>
            <input type="textarea" class="form-control border-primary" id="desp" formControlName="briefDescription"
                placeholder="Brief Description">
        </div>
        <div class="form-group">
            <label for="ipo_date" class="text-primary">IPO Date : </label>
            <input type="date" id="ipo_date" class="form-control border-primary" formControlName="ipoDate"
                placeholder="IPO Date">
        </div>

        <button type="submit" class="btn btn-primary" (click)="addUserMethod()">Save</button>
    </form>
</div>